html, body {
  width: 100%;
  height: 100%;
  background: black;
  font-family: 'Raleway', sans-serif;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.yt-iframe-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}

#yt-player {
  display: block;
  top: -200px;
  left: -300px;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 25, 40, 0.4);
  z-index: 2000;
  height: 88px;
  padding: 0 24px;
}

.location-container {
  font-size: 32px;
  float: left;
  line-height: 87px;
  padding-right: 20px;
}
.country-title {
  padding-left: 10px;
}

.player-controls {
  float: left;
}

.toggle-play {
  font-size: 40px;
  float: left;
  display: block;
  line-height: 76px;
  padding: 0 8px;
  cursor: pointer;
}


.player-controls {
  min-width: 400px;
  padding: 16px 20px 0;
}
.artist-title {
  font-size: 20px;
}
.seek-slider {
  width: 100%;
  height: 10px;
  margin: 8px 0 0;
  border: 1px solid #555;
}
.seek-slider .ui-slider-handle {
  width: 0.6em;
  top: -.4em;
  margin-left: -.3em;
  background: rgb(127, 222, 240);
  border: 1px solid #7E9FA2;
  outline: none;
}
.seek-slider .ui-widget-header {
  background: rgb(112, 214, 233);
}

.next-song {
  float: right;
  margin-top: 20px;
}
