html, body {
  width: 100%;
  height: 100%;
  background: black;
  font-family: 'Raleway', sans-serif;
}

.invisible {
  visibility: hidden;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.yt-iframe-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}

#yt-player {
  display: block;
  top: -200px;
  left: -300px;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 25, 40, 0.4);
  z-index: 2000;
  height: 88px;
  padding: 0 24px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.location-container {
  font-size: 32px;
  float: left;
  line-height: 87px;
  padding-right: 20px;
}
.country-title {
  padding-left: 10px;
}

.player-controls {
  float: left;
}

.toggle-play {
  font-size: 40px;
  float: left;
  display: block;
  line-height: 76px;
  padding: 0 8px;
  cursor: pointer;
}


.player-controls {
  min-width: 320px;
  padding: 16px 20px 0;
}
.artist-title {
  font-size: 20px;
}
.seek-slider {
  width: 100%;
  height: 10px;
  margin: 8px 0 0;
  border: 1px solid #555;
}
.seek-slider .ui-slider-handle {
  width: 0.6em;
  top: -.4em;
  margin-left: -.3em;
  background: rgb(127, 222, 240);
  border: 1px solid #7E9FA2;
  outline: none;
}
.seek-slider .ui-widget-header {
  background: rgb(112, 214, 233);
}

.next-song {
  float: right;
  margin-top: 20px;
}

.options {
  float: right;
  font-size: 16px;
  padding: 32px 0 0 20px;
}
.options .dropdown-toggle {
  color: white;
}
.options .dropdown-toggle:hover, .options .dropdown-toggle:focus {
  text-decoration: none;
}
.options .dropdown-toggle .caret {
  border-top: 4px solid white;
}
.options .dropdown-menu {
  top: 86px;
  left: -40px;
  width: 172px;
  background-color: rgba(0, 25, 40, 0.4);
  border-radius: 0;
  border: 1px solid rgba(255,255,255,0.1);
  border-top: none;
  padding-bottom: 0;
}
.options .dropdown-menu > li > a  {
  color: white;
  padding: 6px 20px;
}
.options .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.options .dropdown-menu .dropdown-header {
  color: #ccc;
}
.options .dropdown-menu .divider {
  background-color: rgba(255,255,255,0.2);
  margin: 6px 0;
}
