{% extends "layout.html" %}
{% block content %}
<div class='player'>
  <div class='header clearfix'>
    <div class='location-container'>
      <span class='glyphicon glyphicon-globe'></span><span class='country-title'></span>
    </div>
    <div class='glyphicon glyphicon-play-circle toggle-play unselectable'></div>
    <div class='player-controls clearfix'>
      <div class='artist-title'>&mdash;</div>
      <div class='seek-slider'></div>
    </div>
    <div class='options dropdown'>
      <a class='dropdown-toggle' data-toggle="dropdown" href="#"><span class='glyphicon glyphicon-cog'></span> Options <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Select a continent:</li>
        <li><a rel='continent' data-continent='all' href="#"><span class='glyphicon glyphicon-ok'></span> All continents</a></li>
        <li><a rel='continent' data-continent='Africa' href="#"><span class='glyphicon glyphicon-ok invisible'></span> Africa</a></li>
        <li><a rel='continent' data-continent='Asia' href="#"><span class='glyphicon glyphicon-ok invisible'></span> Asia</a></li>
        <li><a rel='continent' data-continent='Europe' href="#"><span class='glyphicon glyphicon-ok invisible'></span> Europe</a></li>
        <li><a rel='continent' data-continent='North America' href="#"><span class='glyphicon glyphicon-ok invisible'></span> North America</a></li>
        <li><a rel='continent' data-continent='Oceania' href="#"><span class='glyphicon glyphicon-ok invisible'></span> Oceania</a></li>
        <li><a rel='continent' data-continent='South America' href="#"><span class='glyphicon glyphicon-ok invisible'></span> South America</a></li>
        <li class="divider"></li>
        <li><a rel='keyboard-shortcuts' href="#">Keyboard shortcuts</a></li>
        <li><a rel='about' href='#'>About</a></li>
      </ul>
    </div>
    <button class='btn btn-lg btn-primary next-song'>Skip song</button>
  </div>
  <div class="yt-iframe-container"><div id="yt-player"></div></div>
</div>

<div id='modal-shortcuts' class='modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button class='close' type="button" data-dismiss='modal'>&times;</button>
        <h4 class='modal-title'>Keyboard shortcuts</h4>
      </div>
      <div class='modal-body'>
        <ul>
          <li>
            <span class='key'>Space</span>
            <span class='description'>Play/pause song</span>
          </li>
          <li>
            <span class='key'>&rarr;</span>
            <span class='description'>Skip song</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id='modal-about' class='modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button class='close' type="button" data-dismiss='modal'>&times;</button>
        <h4 class='modal-title'>About</h4>
      </div>
      <div class='modal-body'>
        Placeholder for about.
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.dropdown-toggle').dropdown();

    window.globalState = new GlobalState();
    window.countries = new Countries().reset(JSON.parse("{{ countries | escapejs }}"));

    // Load Youtube iframe API
    var tag = document.createElement('script'); tag.src = "http://www.youtube.com/iframe_api";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tag, s);
  });
</script>
{% endblock %}
