{% extends "layout.html" %}
{% block content %}
<div class='player'>
  <div class='header'>
    <h1 class='song-info'><span class='country-title'></span> - <span class='artist-title'></span></h1>
    <button class='toggle-play'>Pause</button>
    <button class='next-song'>Next</button>
  </div>
  <div class="yt-iframe-container"><div id="yt-player"></div></div>
</div>
<script>
  $(function() {
    window.globalState = new GlobalState();
    window.countries = new Countries().reset(JSON.parse("{{ countries | escapejs }}"));

    // Load Youtube iframe API
    var tag = document.createElement('script'); tag.src = "http://www.youtube.com/iframe_api";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tag, s);
  });
</script>
{% endblock %}
