{% extends "layout.html" %}
{% block content %}
<div class='player'>
  <div class='header clearfix'>
    <div class='location-container'>
      <span class='glyphicon glyphicon-globe'></span><span class='country-title'></span>
    </div>
    <div class='glyphicon glyphicon-play-circle toggle-play'></div>
    <div class='player-controls clearfix'>
      <div class='artist-title'></div>
      <div class='seek-slider'></div>
    </div>
    <button class='btn btn-lg btn-primary next-song'>Skip song</button>
  </div>
  <div class="yt-iframe-container"><div id="yt-player"></div></div>
</div>
<script>
  $(function() {
    window.globalState = new GlobalState();
    window.countries = new Countries().reset(JSON.parse("{{ countries | escapejs }}"));

    // Load Youtube iframe API
    var tag = document.createElement('script'); tag.src = "http://www.youtube.com/iframe_api";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tag, s);
  });
</script>
{% endblock %}
